{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cont maincont">
    <h1 class="maincont-ttl">Cuenta de {{user.username}}</h1>
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>GRACIAS POR TU COMPRA</h2>
                        
                </div>
                <div class="auth-col">
                    <h2>PRODUCTOS RELACIONADOS</h2>
                    
                </div>
            </div>
        </form>
        </div>
    </article>
</div>
{% endblock %}